# Build directories and artifacts
build/
bin/
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dylib

# Qt / IDE specific
*.user
*.user.*
*.autosave
CMakeLists.txt.user
.vscode/
.idea/

# Build folders & output
out/
build/
bin/

# Tooling & Configs
compile_commands.json

# App runtime saves / test files
*.json
!README.md
